/* reset and utilities */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;;
}

.clearfix::after {
    clear: both;
    content: '';
    display: table;
}

.px10{
    padding-left: 10px;
    padding-right: 10px;
}


.py100 {
    padding-top: 100px;
    padding-bottom: 100px;
}

.my100 {
    margin-top: 100px;
    margin-bottom: 100px;
}

.container {
    width: 100%;
}

header .container {
    background-color: #255ee9;
}

.box-setup-center {
    width: 70%;
    margin: auto;
    padding-top: 30px;
    padding-bottom: 10px;
}

.button-setup-1 {
    background-color: #fff;
    color: #2b2f32;
    padding: 1px 18px;
    border-radius: 30px;
    text-decoration: none;
}

.c-white {
    color: #fff;
}

.button-setup-2 {
    background-color: #232;
    padding: 11px 18px;
    border-radius: 30px;
    text-decoration: none;
}

.bg-gray {
    background-color: #f6f6f6;
}

/* header */
.box-setup-center .logo {
    width: 30%;
}


.box-setup-center .main-menu {
    width: 70%;
    line-height: 35px;
}

.logo,
.mainmenu {
    float: left;
}

.main-menu > .button-setup-1 {
    float: right;
}

.main-menu ul li {
    padding-right: 45px;
}

.main-menu,
.main-menu ul,
.main-menu ul li {
    display: inline-block;
}

.main-menu li a{
    text-decoration: none;
    color: #fff;
}

.main-menu > a {
    font-size: 14px;
}

/* main */

/* banner section */
main > .container {
    background-image: url(../img/jumbo.png);
    background-size: cover;
    height: 580px;
}

.banner {
    padding-top: 0;
    height: 550px;
    width: 750px;
    position: relative;
}

.pb40 {
    padding-bottom: 40px;
}

.banner-info {
    position: absolute;
    top: 20%;
    text-align: center;
}

.banner-info h1 {
    font-size: 70px;
    font-weight: 700;
}

.banner p {
    font-size: 20px;
}

i {
    padding-right: 5px;
}

.button-setup-2 {
    color: #fff;
    text-decoration: none;
    font-size: 20px;
    padding: 20px 40px;
}

.banner-info a:first-of-type {
    display: inline-block;
    background-color: #fff;
    font-size: 20px;
    padding: 20px 40px;
    margin-right: 35px;
}

/* more main */

.info-img,
.info-text {
    float: left;
}

.info-img {
    width: 50%;
    padding-bottom: 150px;
}

.info-text {
    width: 50%;
    padding-top: 30px;
    padding-left: 180px;
    padding-right: 100px;
    padding-bottom: 100px;
}

.info-text h1 {
    font-size: 50px;
}

.info-text p {
    font-size: 20px;
    padding-top: 30px;
    line-height: 30px;
}
